{% extends "myadmin/base.html" %}

{% block mainbody %}	
{% load static from staticfiles %}
<script src="{% static 'myadmin/js/types.js' %}"></script>	
		
	<h4>
		商品类别信息管理
	</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					商品ID
				</th>
				<th>
					<select name="typeid" class="typeid">
						{% for types in typelists %}
							{% if types.pid == 0 %}
							<option
								{% if types.pid == 1 %}
								select
								{% endif %}
								value="{{types.id}}">
								{{types.name}}
							</option>
							{% endif %}
						{% endfor %}
						
					</select>
				</th>
				<th>
					商品父类ID
				</th>
				<th>
					商品分类路径
				</th>
			</tr>
		</thead>
		<tbody class="tbodyfir">
			{% for typess in typelists %}
				<tr class="hidden" pid = '{{typess.pid}}' pgid='{{typess.id}}'>
					<td>
						{{typess.id}}
					</td>
					<td>
						{{typess.pname}}|--{{typess.name}}
					</td>
					<td class='typid'>
						{{typess.pid}}
					</td>
					<td class="tindexpath">
						{{typess.path}}
					</td>
					<td>
						<a href="{% url 'myadmin_typesadd' typess.id%}"><button type="button" class="btn btn-info">添加子类别</button></a>
						<a href="{% url 'myadmin_typesedit' typess.id%}"><button type="button" class="btn btn-primary">修改</button></a>
						<a href="javascript:doDel('{% url 'myadmin_typesdel' typess.id%}')"><button type="button" class="btn btn-warning btn-xs">删除</button></a>
					</td>
				</tr>
			{%endfor%}
			
		</tbody>
		<tbody class="tbodysec">
			
		</tbody>
	</table>

	<script type="text/javascript">
		//删除提示弹框
	            function doDel(tt){
	                	if(confirm("确定要删除吗?")){
	                    		window.location=tt;
	                	}
	            }
	            
            			
	</script>
	<script type="text/javascript">
		//分类展示商品类别
		typeShow()	
	</script>
{% endblock %}