{% extends "myadmin/base.html" %}



{% block mainbody %}		
{% load static from staticfiles %}
<link href="{% static 'myadmin/css/users.css' %}" rel="stylesheet">
<script src="{% static 'myadmin/js/users.js' %}"></script>

	<h3>
		会员信息管理
	</h3>
	<form id="edit-profile" class="form-horizontal usersadd" action="{% url 'myadmin_usersupdate' users.id%}" method="post">
	{% csrf_token %}
		<fieldset>
			<legend>编辑会员信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">用户名</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name="username" disabled="disabled"  value="{{users.username}}" />
					<label class="hidden hid-label" id="unameVerify"></label> 

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">真实姓名</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="name" value="{{users.name}}"/>
					<label class="hidden hid-label" id="nameVerify"></label> 

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">性别</label>
				<div class="controls">
					<input type="hidden" name="sex" id="sexChoice" value="{{users.sex}}">
					<label class="state">
					    	<input type="radio" name="sex" id="man" value="1">
					    	<span class="radio-text">男</span>
					</label>
					<label class="state">
					  	<input type="radio" name="sex" id="woman" value="0" >
					    	<span class="radio-text">女</span>
					</label>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">手机号</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name="phone" value="{{users.phone}}" />
					<label class="hidden hid-label" id="phoneVerify"></label> 

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">邮箱</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name="email" value="{{users.email}}" />
					<label class="hidden hid-label" id="emailVerify"></label> 

				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">邮编</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01"  name="code" value="{{users.code}}" />
					<label class="hidden hid-label" id="codeVerify"></label> 

				</div>
			</div>							
			<div class="control-group">
				<label class="control-label" for="textarea">地址</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows="4" name="address" value="{{users.address}}"></textarea>
					<label class="hidden hid-label" id="addressVerify"></label> 
					
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">状态</label>
				<div class="controls">
					<input type="hidden" name="state" id="stateChoice" value="{{users.state}}">
					 <label class="state">
					    	<input type="radio" name="state" id="stateOpen" value="1" >
					    	<span class="radio-text">启用</span>
					</label>
					<label class="state">
					  	<input type="radio" name="state" id="stateClose" value="2" >
					    	<span class="radio-text">禁用</span>
					</label>
					<label class="state">
					  	<input type="radio" name="state" id="stateAdmin" value="0" >
					    	<span class="radio-text">后台管理员</span>
					</label>
				</div>
			</div>						
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">修改</button> <button class="btn reset" type="reset">重置</button>
			</div>
		</fieldset>
	</form>

	<script type="text/javascript">
		//性别默认选中状态
		sexState();
		//用户状态默认选中状态
		stateState();
		//正则判断
		addUsersVerify();
	</script>

{% endblock %}

